OBJ/
USER/DebugConfig/
USER/Listings/
USER/Objects
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep     
JLinkLog.txt
JLinkSettings.ini
UCOS-1.uvguix.Administartor
*.iex
*.htm
*.sct
*.map

